<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="question">
    <h2><%= @question %></h2>
    <p><em>-You</em></p>
  </div>
  <div class="answer">
    <h2><strong><%= @answer %></strong></h2>
    <p><em>-Your coach</em></p>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>
